*{
  box-sizing: border-box;
}

.row, .row2{
  text-align: center;
}

.square1{
  display: inline-block;
  position: relative;

}
.sconto{
  background: green;
  position: absolute;
  text-align: center;
  top: 0;
  right:0;
}


.square2{
  display: inline-block;
  position: relative;

}
.sconto2{
  background: red;
  position: absolute;
  text-align: center;
  top:0;
  right:0;
}

.square3{
  display: inline-block;
  position: relative;

}
.sconto3{
  background: green;
  position: absolute;
  text-align: center;
  top:0;
  right:0;
}

.seconda-riga{
  margin-top: 50px;
}

.cuore{
  position: absolute;
  bottom: 0;
  left: 130px;
  color: red;
  font-size: 30px;
  display: none;

}

.square1:hover .cuore{
  display: block;
}
.square2:hover .cuore{
  display: block;
}

.square3:hover .cuore{
  display: block;
}
